Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -altera-*,
  -android-*,
  -google-*,
  -cppcoreguidelines-*,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*
WarningsAsErrors: ''
HeaderFilterRegex: '^/data/project/src/.*'
ExcludeHeaderFilterRegex: '^/data/project/build/.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
