Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -altera-*,
  -android-*,
  -google-*,
  -cppcoreguidelines-*,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
